language: objective-c

os: osx
osx_image: xcode8

env:
  global:
    - XCODEPROJ="PySwiftyRegex.xcodeproj"
    - SCHEME="PySwiftyRegex"
  matrix:
    - DESTINATION="platform=OS X,arch=x86_64" SDK="macosx" ACTION="test"
    - DESTINATION="platform=iOS Simulator,name=iPhone 6s" SDK="iphonesimulator" ACTION="test"
    - DESTINATION="platform=tvOS Simulator,name=Apple TV 1080p" SDK="appletvsimulator" ACTION="test"
    - DESTINATION="name=Apple Watch - 38mm" SDK="watchsimulator" ACTION="build"

script: 
  - xcode-select -p
  - xcodebuild -project "$XCODEPROJ" -scheme "$SCHEME" -destination "$DESTINATION" -sdk $SDK $ACTION
